<div id="scrollCliPr" class="altoScroll" (mousewheel)="_wheel($event);">
    <div class="container-fluid  ml-2 pt-3 h-75">
        <div *ngIf="clientesPrinc.length <= 0" class="row d-flex w-100 align-items-center">
            <label [hidden]="!help" (click)="abriInfo('pareja')"> <span
                    class="d-flex align-items-center ml-3 mr-2 mt-2">¿Realiza actividad lucrativa?<i
                        class="fas fa-info-circle"></i></span>
            </label>
            <label [hidden]="help" for="actividadLucrativa"> <span
                    class="d-flex align-items-center ml-3 mr-2 mt-2">¿Realiza actividad lucrativa?</span></label>
            <!-- <input class="fa-3x" id="pareja"  name="pareja" type="checkbox"> -->
            <select name="actividadLucrativa" (change)="clientesStatus()" [(ngModel)]="this.c.realizaActividadLucrativa">

                <option value="null" disabled>SELECCIONE</option>
                <option [ngValue]=true>SI</option>
                <option [ngValue]=false>NO</option>
            </select>

        </div>
        <div class="table-responsive h-50">
            <table class="table table-striped" aria-describedby="clientes" summary="clientes">
                <thead>
                    <tr>
                        <th scope="col">Tipo operación</th>
                        <th scope="col">Nombre empresa</th>
                        <th scope="col" width="200px"></th>
                        <th scope="col" width="200px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dato of clientesPrinc">
                        <td>{{dato.tipoOperacion}}</td>
                        <td>{{dato.nombreEmpresaServicio}}</td>

                        <td class="text-center"><button [attr.id]="'modificar' + dato.idPosicionVista" class="modificar" (click)="modificarDatos(dato);">
                                <div class='icon'>
                                    <i class='fa fa-edit'></i>
                                </div>
                                <div class='text'>
                                    <span [attr.id]="'spanModificar' + dato.idPosicionVista">Modificar</span>
                                </div>
                            </button></td>
                        <td class="text-center"><button *ngIf="!dato.registroHistorico" [attr.id]="'eliminarCliPr' + dato.idPosicionVista" class="eliminar" (click)="eliminarDatos($event, dato);" (mouseout)="eliminarMouseout($event, dato)">
                                <div class='icon'>
                                    <i class='fa fa-trash-alt'></i>
                                    <i class='fa fa-question'></i>
                                    <i class='fa fa-check'></i>
                                </div>
                                <div class='text'>
                                    <span [attr.id]="'spanEliminarCliPr' + dato.idPosicionVista">Eliminar</span>
                                </div>
                            </button></td>

                    </tr>
                </tbody>
            </table>

        </div>
        <div class="row mt-5">
            <button (click)="abrirObservaciones()" type="button" class="observaciones"><i class="far fa-envelope"></i>
                Aclaraciones / Observaciones </button>
        </div>

        <div id="obs-clientes" class="content-observaciones">
            <div>
                <p><i (click)="cerrarObservaciones()" class="close-modal-obs fas fa-times-circle "></i></p>
                <label for="aclaracionesObservaciones">Aclaraciones / Observaciones</label>
                <textarea name="aclaracionesObservaciones" oninput="CustomUpperCase(this)" id="aclaracionesObservacionesCli" cols="80" rows="15" maxlength="2000" [(ngModel)]="this.aclara" #aclaracion="ngModel"></textarea>
                <button (click)="guardarObservaciones()" type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>

    </div>
</div>