<header>
    <div id="left"></div>
    <div class="cuenta-content"></div>
</header>


<div id="content-cargando">
    <div class="spinner-border text-success" role="status">
    </div>
    <span>Cargando</span>
</div>

<!-- <div id="content-btnSave">
       <button id="guardaDatos" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>
</div> -->

<div class="contenedor">



    <div class="container mt-5">
        <div class="text-center">

            <h1>{{errorText}}</h1>
        </div>

    </div>

</div>