.table th,
td {
    width: 16.66%;
    text-align: center;
}

.table td i {
    font-size: 30px;
}

.center-block {
    display: table;
    /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
}

.dropdown-item {
    cursor: pointer;
}